h1 {
  color: #454545;
  font-size: 3em; /* 48px, base is 16px */
  font-weight: bold;
  line-height: 140%
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 {
  font-size: 2em; /* 32px, base is 16px */
  line-height: 140%;
  text-align: left;
  padding-bottom: 30px;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #f7bcb4;
  color: #3a413f;
  line-height: 140%;
	margin: 30px;
}

nav {
  background-color: #e97364;
  float: left;
  position: fixed;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover { color: #454545 }
a:active { color: #898989}
a:visited { color: #cdcdcd}

.logo {
  background-image: url(images/bloc-logo.png) no-repeat top center;
  margin: 20px;
  width: 100px;
}

.story-text p {
  margin-bottom: 20px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  background-image: url(images/instagram-pic.jpg) no-repeat top center;
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
