h1 {
  font-size: 3em; /* 48px, base is 16px */
}
h2 {
  font-size: 2em; /* 32px, base is 16px */
}
body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: #f7bcb4;
  color: #3a413f;
  line-height: 120%;
}

nav {
  background-color: #e97364;
  float: left;
  position: fixed;
  width: 100%;
}

a: link { color: #ffffff; }
a: hover { color: #2d2c2c; }
a: active { color: #000000; }

.logo {
  background-image: url(images/bloc-logo.png) no-repeat top center;
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  background-image: url(images/instagram-pic.jpg) no-repeat top center;
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
